<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class='table table-bordered my-3' data-controller='editor'>
    <tr>
      <th class='w-25'><%= form.label :name, 'Project Name'%></td>
      <td class='fw-bold'><%= form.text_field :name, class:'form-control bg-light' %></td>
    </tr>

    <%if !project.persisted?%>
      <tr>
        <th>Schema</td>
        <td class='bg-light border'>
        <pre><code><%= form.text_area :json_schema, {rows: '10', id: 'code-textarea', class: 'form-control', data: {'editor-target': 'textArea'}} %></code></pre>
        </td>
      </tr>
    <%end%>
    <tr>
      <th>Expiry</td>
      <td><%= form.number_field :expiry, class: 'form-control' %></td>
    </tr>
  </table>

  <div>
    <%= form.submit 'Update Project', class: 'btn btn-primary' %>
  </div>
<% end %>